body {
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 99, 2);
    color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
    font-family: Open Sans, sans-serif;
    margin: 0px;
    line-height: 350%;
    letter-spacing: 0.06rem;
}

.title {
    text-shadow: 5px 5px black;
    line-height: 5rem;
}

.welcome {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

#welcomecontent, #theorycontent, #synopsiscontent, #timetravelcontent {
    display: none;
}

.timetravel, .synopsis, .theory {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

div:nth-child(2n+1) {
    background-color: goldenrod;
    color: black;
}

.subheading:nth-of-type(2n) {
    background-color: goldenrod;
}

h1 {
    font-size: 104px;
    padding: 2.5%;
    line-height: 125%;
}

h2{
    font-size: 72px;
    padding: 5%;
    line-height: 110%;
}

h1, h2 {
    margin: 2.5%;
}

h3 {
    text-align: center;
    font-size: 48px;
}

p {
    margin: 0px 5% 2.5%;
    font-size: 24px;
    margin-bottom: 2.5rem;
}

.sub1, .sub3, .sub5 {
    background-color: rgb(2, 99, 2);
}

.sub2, .sub4 {
    background-color: goldenrod;
}

img {
    width: 80%;
    margin: 0 10% 7.5%;
    border-radius: 40px;
}

form {
    background-color: lightgrey;
    border-radius: 10px;
    margin: 2.5%;
}

label {
    color: black;
    margin-left: 15px;
    font-size: xxx-large;
}

input {
    margin-left: 5px;
    height: 50px;
    width: 500px
}

#comment {
    margin-left: 5px;
    width: 90%;
    height: 250px;   
}

#submit {
    border-radius: 40px;
    background-color: lightgreen;
    font-size: XX-large;
    width: 300px;
}

footer {
    position: center;
    text-align: center;
    margin: 10px;
}

.showhide {
    height: 75px;
    width: 75px;
    margin: 2.5%;
    padding: 5%;
}

.subheading1, .subheading2 {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.subheading1 {
    background-color: rgb(2, 99, 2);
}

.subheading2 {
    background-color: goldenrod; 
}

.nav-menu {
    display: none;
}


/* Media Queries */

@media screen and (min-width: 769px) {
    body {
        margin: 0px;
        line-height: 300%;
        letter-spacing: 0.075rem;
    }
    
    h1 {
        font-size: 72px;
        padding: 2.5%;
        line-height: 125%;
    }
    
    h2{
        font-size: 48px;
        padding: 1%;
        line-height: 110%;
    }
    
    h1, h2 {
        margin: 2.5%;
    }
    
    h3 {
        text-align: center;
        font-size: 36px;
    }
    
    p {
        margin: 0px 10% 2.5%;
        font-size: 18px;
        margin-bottom: 2.5rem;
    }

    .showhide {
        display: none;
    }

    #welcomecontent, #theorycontent, #synopsiscontent, #timetravelcontent {
    display: block;
    }

    img {
        width: 70%;
        margin: 0 15% 7.5%;
        border-radius: 40px;
    }

    .subheading1, .subheading2 {
        justify-content: left;
    }

    label {
        font-size: xx-large;
    }

    /*Nav bar styling*/    
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .title {
        flex-basis: 100%;
    }

    ul {
        flex-direction: column;
        flex-basis: 100%;
        align-items: right;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    
    .nav-item {
        display: block;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
    }
    
    .nav-link:hover{
        color: goldenrod;
        border-bottom: solid;
        border-bottom-color: goldenrod;
    }
}

@media screen and (min-width: 1225px) {
    body {
        line-height: 250%;
    }
    
    h1 {
        font-size: 54px;
        padding: 2.5%;
        line-height: 125%;
    }
    
    h2{
        font-size: 32px;
        padding: 1%;
        line-height: 110%;
    }
    
    h1, h2 {
        margin: 2.5%;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        margin: 0px 10% 2.5%;
        font-size: 16px;
        margin-bottom: 2.5rem;
    }

    .showhide {
        display: none;
    }

    img {
        width: 40%;
        margin: 0 30% 5%;
        border-radius: 40px;
    }

    .subheading1, .subheading2 {
        justify-content: left;
    }

    label {
        font-size: x-large;
    }

    /*Nav bar styling*/    
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    ul {
        flex-direction: row;
        align-items: right;
        margin: auto 2.5%;
    }

    .nav-menu {
        align-items: right;
    }
     
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
    }
    
    .nav-link:hover{
        color: goldenrod;
        border-bottom: solid;
        border-bottom-color: goldenrod;
    }
}











