body {
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 99, 2);
    color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
    font-family: Open Sans, sans-serif;
    margin: 0px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

header {
    text-shadow: 5px 5px black;
    line-height: 5em;
}

.welcome {
    /*min-height: calc(100vh - 150px);*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

.timetravel, .synopsis, .theory {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
    min-height: 100vh;
}

div:nth-child(2n+1) {
    background-color: goldenrod;
    color: black;
    
}

h1 {
    font-size: 72px;
    padding: 2.5%;
}

h2{
    font-size: 54px;
    padding: 5%;
    line-height: 1.5em;
}

h1, h2{
    position: sticky;
    top: 0;
    margin: 2.5%;
}

h3 {
    text-align: center;
    font-size: 24px;
}

p {
    margin: 0px 5% 2.5%;
    font-size: 16px;
    margin-bottom: 2.5rem;
}

.sub1, .sub3, .sub5 {
    background-color: rgb(2, 99, 2);
}

.sub2, .sub4 {
    background-color: goldenrod;
}

img {
    width: 80%;
    margin: 0 10% 7.5%;
    border-radius: 40px;
}

form {
    background-color: lightgrey;
    border-radius: 10px;
    margin: 2.5%;
}

label {
    color: black;
    margin-left: 15px;
}

input {
    margin-left: 5px;
    height: 1rem;
}

#comment {
    margin-left: 5px;
    width: 90%;
    height: 4rem;   
}

footer {
    position: center;
    text-align: center;
    margin: 10px;
}


















